/* Funções responsivas */
/* Menu para mobile */
  
.mobile-menu {
  display: none;
  cursor: pointer;
}
    
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: rgba(255, 0, 0, 0);
  margin: 8px;
  transition: 0.3s;
}

input {
  visibility: hidden;
}

/* Botão do Menu */

.nav-icon {
  background-color: #ccc;
  display: inline-block;
  height: 2px;
  width: 24px;
  position: relative;
  transition: background-color .2s ease-in-out;
}

.nav-icon::before, .nav-icon::after, .nav-icon span {
  content: "";
  background-color: #ccc;
  display: inline-block;
  height: 2px;
  width: 32px;
  transition: transform .2s ease-in-out;
  position: absolute;
}

.nav-icon::before {
  top: -8px;
}

.nav-icon::after {
  top: 8px;
}

.nav-icon span {
  top: 0;
}

.menu-toggle:checked + .mobile-menu .nav-icon::before {
  transform: translateY(8px) rotate(-45deg);
}

.menu-toggle:checked + .mobile-menu .nav-icon::after {
  transform: translateY(-8px) rotate(45deg);
}

.menu-toggle:checked + .mobile-menu .nav-icon span {
  transform: scale(0);
}

/* Configuração menu responsivo */

.header-menu {
  transform: translateX(72%);
  justify-content: space-around;
  background-color: rgba(15, 114, 2, 0.164);
  align-items: flex-end;
  flex-direction: column;
  max-height: 0;
  position: absolute;
  left: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 7px #435B66;
  right: 0;
  top: 8vh;
  width: 50vw;
  height: 92vh;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
  transition: max-height .4s ease;
  margin: 0;
}


/* Menu lateral */

@media (max-width: 999px) {

  .nav-list {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }

  .header-menu {
    display: flex;
  }

  .menu-toggle {
    display: none;
  }

  .menu-toggle:checked ~ .header-menu {
    display: flex;
  }

  .header-menu li {
    list-style: none;
    letter-spacing: 2px;
    margin-left: 30px;
    border: 2px solid #000;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    box-shadow: 100%;
    background-color: #a87e68;
  }
  
  .header-menu a {
    color: #000;
  }
  
  .menu-toggle:checked ~ .header-menu {
    max-height: 100vh;
  }
  
}

/* Fim Menu para mobile */

@media (max-width: 999px) {

  /* Geral/Navegação */

  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: rgba(15, 114, 2, 0.164);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }

  /* Contéudo */

  .container {
    min-height: 100vh;
  }

  /* Cards flv */

  .main {
      display: inline-flex;
      justify-content: center;
  }
      
  .card { 
      margin: 10px;
      background-color: black;
      width: 300px;
      height: 100;
      border-radius: 10px;
      box-shadow: #aaaaaa;
  }

  /* Produtos */
      
  .produtos2{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  /* Slides dos produtos */

  .slider {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    height: 400px;
    overflow: hidden;
    position: relative;
  }

  .slides {
    width: 400%;
    height: 100%;
    display: flex;
    transition: transform 2s ease;
  }

  .slide {
    width: 25%;
    transition: transform 2s;
  }

  .slide img {
    width: 500px;
    height: auto;
  }

  @keyframes slideAnimation {
    0% { transform: translateX(-7%); }
    25% { transform: translateX(-32%); }
    50% { transform: translateX(-57%); }
    75% { transform: translateX(-82%); }
    100% { transform: translateX(-7%); }
  }

  /* Fim dos slides */
  
  /* Receitas */

  .receitas {
    background: url(/assets/img/sorgo.jpg) no-repeat center center;
    background-size: cover;
    border-bottom: 50px;
    width: 100%;
  }
    
  .livroreceitas {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0;
    margin: 0;
  }

  .receita {
    text-align: center;
    border: 3px solid #000;
    padding: 5px 15px;
    background-color: rgb(106, 146, 114);
    border-radius: 10px;
    box-sizing: border-box;
    font-family: "Gupter", serif;
    font-size: 42px;
    position: relative;
    z-index: 1;
    min-height: 400px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .receita img {
    height: auto;
    width: 100%;
  }

  .receita button {
    margin-top: 15px;
    padding: 5px 5px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #3b32b6;
    color: white;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    font-family: "Gupter", serif;
    z-index: 2;
  } 

  .receita.ativa button {
    transform: rotateY(180deg);
    opacity: .3;
  }

  .receita.ativa button:hover {
    transform: rotateY(180deg);
  }

  .receita.ativa h6 {
    transform: rotateY(180deg);
  }

  .receita button:hover {
    background-color: rgb(15, 10, 83);
    transform: translateY(-3px);
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
  }

  .receita .paragrafo {
    font-size: 19px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100%;
    height: auto;
    opacity: 0;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.612);
    padding: 0 24px;
    border: 1px solid #af7a73;
    border-radius: 0 0 8px 8px;
    box-sizing: border-box;
    transition: opacity 0.2s, bottom 0.2s;
    z-index: 1;
  }

  .receita.ativa {
    transform: rotateY(180deg);
  }

  .receita .paragrafo {
    max-height: 300px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    z-index: 1;
  } 

  .receita.ativa .paragrafo {
    backface-visibility: visible;
  }

  .receita.ativa img {
    visibility: visible;
  }

  /* Sustentabilidade */

  .sustentabilidade {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    max-width: 90%;
    border: 2px solid #4b9343;
    border-radius: 8px;
    box-shadow: 0 4px 8px #00000033;
    transition: border-color 0.3s ease;
  }


  /* Footer */

  .marca {
    margin-left: -50px;
    display: block;
  }
        
  .marca img {
    display: block;
    font-weight: 200;
    margin-bottom: 24px;
  }
        
  .links {
    text-align: center;
    white-space: nowrap;
    align-items: center;
  }
        
  .info {
    text-align: center;
    white-space: nowrap;
    align-items: center;
  }
        
  .info p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
        
  footer {
    margin-top: auto;
    background-color: #8e695694;
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
        
  footer .titulo {
    font-size: 20px;
    display: block;
    font-weight: 200;
    color: #4b9343;
    margin-bottom: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
        
  footer div a {
    font-size: 18px;
    color: #241500;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
  }
        
  footer p {
    margin-bottom: 16px;
    max-width: 350px;
  }
        
  footer p a {
    color: #383026;
    text-decoration: none;
  }

  /* Copyright */
        
  #copyright {
    background-color: #263138;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
  }
        
  #copyright a {
    color: #FF9A6C;
  }
}


/* Responsividade das Receitas */

@media (max-width: 768px) {
  .livroreceitas {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 15px;
  }

  .receita {
      font-size: 40px;
      padding: 10px;
      min-height: 300px;
  }

  .receita button {
      font-size: 18px;
      padding: 5px;
  }

  .receita .paragrafo {
      font-size: 15.5px;
      padding: 0 12px;
  }
}

@media (max-width: 480px) {
  .livroreceitas {
      grid-template-columns: 1fr;
      gap: 10px;
  }

  .receita {
    font-size: 60px;
    padding: 8px;
    min-height: 250px;
  }

  .receita button {
      font-size: 16px;
      padding: 8px;
  }

  .receita .paragrafo {
      font-size: 20px;
      padding: 0 8px;
  }
}

/* Fim receitas */